{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<style>
 
    td {
           width: 150px;
           text-align: center;
           border: 1px solid black;
           padding: 5px;
         }
   </style>
   <p> Truckers currently on site</p>
   <table>
     <thead>
       <tr>
           <th>Company</th>
           <th>Location</th>
           <th>Arrival Time</th>
           <th>Projected Exit Time</th>
           <th>Current Time</th>
           <th>Time Remaining</th>
       </tr>
       </thead>    
       <tbody>
        {% for row in data %}    
               <tr>
                   <td>{{row["company"]}}</td>
                   <td>{{row["location"]}}</td>
                   <td>{{row["time_in"]}}</td>
                   <td>{{row["wait_time"]}}</td>
                   <td>{{curr_time}}</td>
                   <td>{{row["time_remaining"]}} + h</td>

               </tr>
           {% endfor %}
       </tbody>
   </table>
{% endblock %}